pre code.hljs {
    /* font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    display: block;
    overflow-x: auto; */
    /* padding: 1em; */
}

code.hljs {
    white-space: pre-wrap;
    word-wrap: break-word; /* 'wrap-break-word' in Tailwind */
    padding: 3px 5px;
}

.hljs {
    color: #f1f1f1;
    background: #272334;
}

.hljs-keyword,
.hljs-operator {
    color: #7f7eff;
}

/* Updated unique colors instead of #f3fae1 */
.hljs-pattern-match {
    color: #ffa07a;
}

.hljs-pattern-match .hljs-constructor {
    color: #ffb347;
}

.hljs-function {
    color: #7fffd4;
}

.hljs-function .hljs-params {
    color: #40e0d0;
}

.hljs-function .hljs-params .hljs-typing {
    color: #20b2aa;
}

.hljs-module-access .hljs-module {
    color: #ff69b4;
}

.hljs-constructor {
    color: #ff6347;
}

.hljs-constructor .hljs-string {
    color: #ff4500;
}

.hljs-comment,
.hljs-quote {
    color: #dda0dd;
    font-style: italic;
}

.hljs-doctag,
.hljs-formula {
    color: #adff2f;
}

.hljs-section,
.hljs-name,
.hljs-selector-tag,
.hljs-deletion,
.hljs-subst {
    color: #ff8c00;
}

.hljs-literal {
    color: #00fa9a;
}

.hljs-string,
.hljs-regexp,
.hljs-addition,
.hljs-attribute,
.hljs-meta .hljs-string {
    color: #d6ff83;
}

.hljs-built_in,
.hljs-title.class_,
.hljs-class .hljs-title {
    color: #f9e2af;
}

.hljs-attr,
.hljs-variable,
.hljs-template-variable,
.hljs-type,
.hljs-selector-class,
.hljs-selector-attr,
.hljs-selector-pseudo,
.hljs-number {
    color: #baff4b;
}

.hljs-symbol,
.hljs-bullet,
.hljs-link,
.hljs-meta,
.hljs-selector-id,
.hljs-title {
    color: #a19efe;
}

.hljs-emphasis {
    font-style: italic;
}

.hljs-strong {
    font-weight: bold;
}

.hljs-link {
    text-decoration: underline;
}
